<ons-page>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular.min.js"></script>
    <script type="text/javascript" src="controller.js"></script>
</head>

<body ng-app="app" ng-controller="eventlist">
<ons-toolbar>
        <div class="center">{{currinfo}}</div>
        <div class="left">
          <ons-toolbar-button ng-click="menu.toggleMenu()"><ons-icon id="bars" icon="bars"></ons-icon></ons-toolbar-button>
        </div>
      </ons-toolbar>
      <div class="profile-card">
        <img ng-src="{{currimage}}" class="event-image">
      </div>
    
        <ons-list>
        
        <ons-list-item modifier="chevron" class="list-item-container" ng-click="next()">
          <div class="list-item-left">
            <img ng-src="{{currimage}}" class="avator">
          </div>
          <div class="list-item-right">
            <div class="list-item-content">
        <div class="name">AERO-FEST
              </div>
              <span class="desc">DAY 2 || Sat || 6:00 pm{prelims}</span>
              <br>
              <span class="desc">SAC</span>
              <br>
              <span class="desc">Preregistered</span>
            </div>
          </div>
        </ons-list-item>

        <ons-list-item modifier="chevron" class="list-item-container">
          <div class="list-item-left">
            <img ng-src="{{currimage}}" class="avator">
          </div>
          <div class="list-item-right">
            <div class="list-item-content">
                    <div class="name">AERO-FEST
              </div>
              <span class="desc">DAY 1 || Sat || 6:00 pm{prelims}</span>
              <br>
              <span class="desc">SAC</span>
              <br>
              <span class="desc">Preregistered</span>
            </div>
          </div>
        </ons-list-item>

        <ons-list-item modifier="chevron" class="list-item-container">
          <div class="list-item-left">
            <img ng-src="{{currimage}}" class="avator">
          </div>
          <div class="list-item-right">
            <div class="list-item-content">
                    <div class="name">AERO-FEST
              </div>
              <span class="desc">DAY 2 || Sat || 6:00 pm{prelims}</span>
              <br>
              <span class="desc">SAC</span>
              <br>
              <span class="desc">Preregistered</span>
            </div>
          </div>
        </ons-list-item>

        <ons-list-item modifier="chevron" class="list-item-container">
          <div class="list-item-left">
            <img ng-src="{{currimage}}" class="avator">
          </div>
          <div class="list-item-right">
            <div class="list-item-content">
                    <div class="name">AERO-FEST
              </div>
              <span class="desc">DAY 2 || Sat || 6:00 pm{prelims}</span>
              <br>
              <span class="desc">SAC</span>
              <br>
              <span class="desc">Preregistered</span>
            </div>
          </div>
        </ons-list-item>
      </ons-list>
  </body>
</ons-page>