<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="lib/onsen/css/onsenui.css">
    <link rel="stylesheet" href="css/eventdesc.css">

    <script src="lib/onsen/js/angular/angular.js"></script>
    <script src="lib/onsen/js/onsenui.js"></script>
    <script type="text/javascript" src="controller.js"></script>
    <script>
      ons.bootstrap();
                  // Wait for device API libraries to load
    //
    function onLoad() {
        document.addEventListener("deviceready", onDeviceReady, false);
    }

    // device APIs are available
    //
    function onDeviceReady() {
        // Register the event listener
        document.addEventListener("backbutton", onBackKeyDown, false);
    }

    // Handle the back button
    //
    function onBackKeyDown() {
        document.addEventListener("backbutton",$scope.menu.setMainPage($rootScope.lastpage, {closeMenu: true}), false);
    }
    </script>
   
  </head>
  <body ng-app="app">
          
    <div  ng-controller="eventdesc">
    
        
          <ons-page>
                <ons-toolbar>        
      <div class="left">
          <ons-toolbar-button ng-click="menu.setMainPage(menu.setMainPage(lastpage, {closeMenu: true}), {closeMenu: true})">
            <ons-icon icon="ion-arrow-left-c" size="28px" fixed-width="false"></ons-icon>
          </ons-toolbar-button>
        </div>
     <div class="center" >
      <div ng-hide="online"><h3 style="color:red">You're offline</h3></div>
      <!-- <center>{{currname}}</center> -->
    </div>   
    <div class="right">
          <!-- <ons-toolbar-button><ons-icon icon="ion-gear-a" style="vertical-align: -4px; font-size: 28px;"></ons-icon></ons-toolbar-button> -->
        </div>
  </ons-toolbar>

      <div class="profile-card">

        <img ng-cache src="http://shaastra.org:8001/api/uploads/{{eve.imageid}}/{{eve.imagename}}" class="profile-image">
        <div class="profile-name">{{eve.name}}</div>
        <div class="profile-id"><ons-icon icon="fa-map-marker"></ons-icon> {{eve.venue}}</div>
        <div class="profile-desc">{{eve.info}}</div>

      </div>
<!--       <ons-list modifier="inset" style="margin-top: 10px">
      <ons-list-item class="list__item--tappable list__item__line-height" ng-repeat="tab in tabs">
          {{tab.name}}
        </ons-list-item>
    </ons-list>
      <br> -->
      <br>
        <ons-list style="padding-left:12%;">
        <ons-list-item style="height:90px;">
        
          <ons-row>
          <a ng-click="show()">
            <ons-col class="info-col">
              <div class="info-num"  style="text-align:center;">
                <ons-icon icon="fa-phone"></ons-icon>
              </div>
              <div class="info-unit"  style="text-align:center;">Call a Coordinator</div>
            </ons-col></a>
            <ons-col class="info-col" style="text-align:center;">
              <div class="info-num"  style="text-align:center;">
                <ons-icon icon="fa-home"></ons-icon>
              </div>
              <a href="http://www.shaastra.org/#/event/{{currid}}/{{eid}}"><div class="info-unit" style="text-align:center;">Website</div></a>
            </ons-col>
            
          </ons-row>
        </ons-list-item>
      </ons-list>
      <br>
     

      <ons-list modifier="inset" style="margin-top: 10px">
      <div ng-if="!tabs.length">
        <h2>{{ message }}</h2>
      </div>
      <div ng-repeat="tab in tabs">

        <ons-list-item ng-click="toggleGroup(tab)" class="list__item list__item--chevron list__item__line-height" ng-class="{active:isGroupShown(tab)}">
          {{tab.name}}
        </ons-list-item>
        <ons-list-item class="item-accordion" style="font-size:15px;line-height:18px;"ng-show="isGroupShown(tab)">
        <br>
          <div ng-bind-html="tab.info"></div>
        <br>
        </ons-list-item>
      </div>
    </ons-list>            

    </ons-page>
    
    </div>
  </body>
  <ons-template id="list.html">
      <ons-dialog var="dialog" cancelable>
        <ons-toolbar inline>
            <div class="center">
              Event Coordinators
            </div>
          </ons-toolbar>
        <ons-list id="contactlist" >
        <div >
          <ons-list-item modifier="tappable" ng-repeat="x in con">
            <a href="tel:{{x.phoneNumber}}"><ons-icon icon="fa-phone" style="color:#37C837;"></ons-icon>&nbsp;&nbsp;{{x.name}}</a>
          </ons-list-item>
          </div> 
        </ons-list>
     </ons-dialog>
    </ons-template>
</html>
