<ons-page>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular.min.js"></script>
    <script type="text/javascript" src="controller.js"></script>
    <script>
            // Wait for device API libraries to load
    //
    function onLoad() {
        document.addEventListener("deviceready", onDeviceReady, false);
    }

    // device APIs are available
    //
    function onDeviceReady() {
        // Register the event listener
        document.addEventListener("backbutton", onBackKeyDown, false);
    }

    // Handle the back button
    //
    function onBackKeyDown() {
        document.addEventListener("backbutton",$scope.menu.setMainPage($rootScope.lastpage, {closeMenu: true}), false);
    }
    </script>
    <style>
    .list-item-content
    {
        text-align: start;
        padding:10px 20px 10px 5px;
    }
    .desc
    {
      overflow-wrap: break-word;
      overflow : hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
    </style>
</head>

<body ng-app="app" >
  <div ng-controller="eventlist">
      <ons-toolbar>        
      <div class="left">
          <ons-toolbar-button ng-click="menu.setMainPage(lastpage, {closeMenu: true})">
            <ons-icon icon="ion-arrow-left-c" size="28px" fixed-width="false"></ons-icon>
          </ons-toolbar-button>
        </div>
    <div class="center" >
      <div ng-hide="online"><h3 style="color:red">You're offline</h3></div>
      <!-- <center>{{currname}}</center> -->
    </div>
    <div class="right"></div>
  </ons-toolbar>
    <div class="profile-card">
        <img ng-src="{{currimage}}" class="event-image">
      </div>
          <div ng-if="!events.length">
        <h2>{{ message }}</h2>
      </div>
        <div ng-repeat="event in events">
        <ons-list-item modifier="chevron" style="background-color:#173e43;" class="list-item-container" ng-click="next(event._id,event.imagename,event.imageid)">
          
          <div class="list-item">
            <div class="list-item-content">
        <div class="name">{{event.name}}
              </div>
              <div class="desc">
              {{event.info}}  
              </div>
              <br>
              <div class="plan-info">
                <ons-icon icon="fa-map-marker"></ons-icon> {{event.venue}}
              </div>
            </div>
          </div>
        </ons-list-item>
        </div>
      </ons-list>
  </div>      
  </body>
</ons-page>