<ons-page>

  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular.min.js"></script>
    <script type="text/javascript" src="controller.js"></script>
  </head>

  <body ng-app="app">

    <div ng-controller="events">
        
    <div class="center" id="title">
      EVENTS    
    </div>

    <br>

    <div>
      <button class="button button--large--cta" ng-repeat="x in eventcats" ng-click="info(x._id)">{{x.title}}</button>
    </div>
    
  </body>

</ons-page>   

