<ons-page>


    <div style="text-align: center;height:100%;">
        <img src="images/shaastra_dices.png" class="dices">
<ul class="list" style="text-align:center;">
  <li class="list__item list__item--tappable login_buttons_list_google" style="text-align:center">
  <ons-icon icon="ion-social-googleplus 96" style="padding-right:10px;padding-top:10px;padding-bottom:10px"></ons-icon>
   Login with Google +
  </li>
  <li class="list__item list__item--tappable login_buttons_list_fb" style="text-align:center">
  <ons-icon icon="ion-social-facebook" style="padding-right:10px"></ons-icon>
          Login with Facebook
  </li>
    <li class="list__item list__item--tappable login_buttons_list_id" style="text-align:center">
  <ons-icon icon="ion-ios-contact" style="padding-right:10px"></ons-icon>
          Login with Shaastra ID
  </li>
     Dont have a Shaastra Id yet?
  <li class="list__item list__item--tappable login_buttons_list_signup" style="text-align:center">
  <ons-icon icon="ion-thumbsup" style="padding-right:10px"></ons-icon>
          Sign up for Shaastra
  </li>
    <li class="list__item list__item--tappable login_buttons_list_enter" style="text-align:center">
        Continue without signing 
        <ons-icon icon="ion-android-arrow-forward" style="padding-left:10px"></ons-icon>
  </li>
</ul>
    </div>
</ons-page>