<ons-page ng-controller="MapController">

      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="menu.toggle()">
            <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center">IITM MAP <div ng-hide="online"><h3 style="color:red">You're offline</h3></div> </div>

      
  
  
      </ons-toolbar>
    

    <div id="map_canvas"></div>


     <p class="par-search">
            <input type="hidden" id="search" value="{{ formData.destiny }}" class="search-input search-input-map">
        </p>

     <div align = "center">
 <div class="button-bar" style="width:280px;">
  <div class="button-bar__item">
    <input type="radio"  name="destiny" value="Central lecture Theater,IIT madras" ng-model="formData.destiny">
    <button class="button-bar__button">CLT</button>
  </div>

  <div class="button-bar__item">
    <input type="radio" name="destiny" value="Students Activity Centre,IIT madras" ng-model="formData.destiny">
    <button class="button-bar__button">SAC</button>
  </div>

  <div class="button-bar__item">
    <input type="radio" name="destiny" value="Open Air Theater,IIT madras" ng-model="formData.destiny">
    <button class="button-bar__button">OAT</button>
  </div>
  
  

  
</div>
</div>
 
  <ons-button modifier="small--cta" ng-click ="calcRoute()">
   GO!
   </ons-button>
<br>
<br>
     <ons-button modifier="small--cta" ng-click ="show('dialog.html')" modifier="tappable">
  Details of Locations
   </ons-button>

<ons-template id="dialog.html">
  <ons-dialog var="dialog" modifier="material" cancelable>
    <div style="padding: 0 22px 22px 22px">
    <ons-list>
  <ons-list-header>Details of Locations</ons-list-header>
  <ons-list-item>CLT : Central lecture theatre</ons-list-item>
  <ons-list-item>SAC :Students Activity Center</ons-list-item>
  <ons-list-item>OAT :Open Air Theater</ons-list-item>
</ons-list>
    </div>
  </ons-dialog>
</ons-template>


    </ons-page>
