<ons-page style="background-color: white">

    <ons-list>

        <ons-list-item
            modifier="tappable" class="list__item__line-height"
            onclick="menu.setMainPage('page1.html', {closeMenu: true})">
            <i class="fa fa-home fa-lg" style="color: #666"></i>
            &nbsp; Page 1
        </ons-list-item>

        <ons-list-item
            modifier="tappable" class="list__item__line-height"
            onclick="menu.setMainPage('page2.html', {closeMenu: true})">
            <i class="fa fa-gear fa-lg" style="color: #666"></i>
            &nbsp; Page 2
        </ons-list-item>
        
        <ons-list-item
            modifier="tappable" class="list__item__line-height"
            onclick="menu.setMainPage('login.html', {closeMenu: true})">
            <i class="fa fa-gear fa-lg" style="color: #666"></i>
            &nbsp; Login
        </ons-list-item>
        <ons-list-item
            modifier="tappable" class="list__item__line-height"
            onclick="menu.setMainPage('login_id.html', {closeMenu: true})">
            <i class="fa fa-gear fa-lg" style="color: #666"></i>
            &nbsp; Shaastra id login
        </ons-list-item>
        <ons-list-item
            modifier="tappable" class="list__item__line-height"
            onclick="menu.setMainPage('signup.html', {closeMenu: true})">
            <i class="fa fa-gear fa-lg" style="color: #666"></i>
            &nbsp; Sign up
        </ons-list-item>
    </ons-list>

</ons-page>
