<ons-page>

    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button ng-click="menu.toggleMenu()"><ons-icon icon="bars"></ons-icon></ons-toolbar-button>
        </div>
        <div class="center">Page 2</div>
    </ons-toolbar>

    <div style="text-align: center">
        <h1>Page 2</h1>
        <ons-button ng-click="menu.toggleMenu()">Toggle Menu</ons-button>
    </div>

</ons-page>