<ons-modal var="modal">
<img src="images/tick.png" alt="" ng-click="close()"class="modal_image"/>
</ons-modal>
<ons-navigator>
<ons-page ng-controller="signupcontroller">


    <div style="text-align: center">
        <img src="images/shaastra_main_log.png" class="main_logo_signup">
    </div>

      <div class="formarea">
        <div class="first" >
          <input type="text" class="text-input--underbar width-full" placeholder="First Name" value="">
          <input type="text" class="text-input--underbar width-full" placeholder="Last Name" value="" style="border-width-left: 1px">
        </div>

        <div class="form-row">
          <input type="text" class="text-input second" placeholder="Email Address" value="">
        </div>

        <div class="form-row">
          <input type="password" class="text-input" placeholder="Password -Atleast six characters" value="">
        </div>

        <div class="vspc form-row">
          <ons-button modifier="large--cta" ng-click="modal.show()">Register</ons-button>
        </div>
      </div>
</ons-page>
</ons-navigator>