<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="controller.js"></script>
    <link rel="stylesheet" href="lib/onsen/css/onsenui.css">
    <link rel="stylesheet" href="../onsen-css-components-blue-basic-theme.css">
    <link rel="stylesheet" href="profile.css">

    <script src="lib/onsen/js/angular/angular.js"></script>
    <script src="lib/onsen/js/onsenui.js"></script>
    <script>
      ons.bootstrap();
      //modal.open();
                  // Wait for device API libraries to load
    //
    function onLoad() {
        document.addEventListener("deviceready", onDeviceReady, false);
    }

    // device APIs are available
    //
    function onDeviceReady() {
        // Register the event listener
        document.addEventListener("backbutton", onBackKeyDown, false);
    }

    // Handle the back button
    //
    function onBackKeyDown() {
        document.addEventListener("backbutton",$scope.menu.setMainPage($rootScope.lastpage, {closeMenu: true}), false);
    }
    </script>

  </head>
  <style>
      h3{
          font-family: 'Helvetica';
          font-size: 15px;
      }
  </style>
  <body  ng-app="app">

    <ons-page ng-controller="lecture" style="background:#f3f3f3;" on-device-backbutton="menu.setMainPage('home.html', {closeMenu: true})">
      <ons-toolbar>        
      <div class="left">
          <ons-toolbar-button ng-click="menu.toggle()">
            <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
          </ons-toolbar-button>
        </div>
     <div class="center" > 
      SPONSORS 
      <div ng-hide="online"><h3 style="color:red"></h3></div>
      <!-- <center>{{currname}}</center> -->
    </div>   
    <div class="right">
          <!-- <ons-toolbar-button><ons-icon icon="ion-gear-a" style="vertical-align: -4px; font-size: 28px;"></ons-icon></ons-toolbar-button> -->
          <a href="http://shaastra.org/#/sponsors"><ons-button modifier="small--cta"><i class="fa fa-external-link"></i>  Web</a> </ons-button>
        </div>
  </ons-toolbar>


<ons-button modifier="small--cta" ng-click ="show('sponc.html')" modifier="tappable">
  Contact Us
   </ons-button>

   <ons-template id="sponc.html">
      <ons-dialog var="dialog" cancelable>
       
        <ons-list>
        <div style = "font-family: 'Helvetica';font-size: 14px;float:center; padding: 0px 0;"> 
    
          <ons-list-item modifier="tappable">
          <ons-icon icon="fa-phone fa-2x" style="color:#37C837;font-size: 17px">Bhavik Rasyara</ons-icon>
          <ons-list-item>
          <textarea class="textarea" rows = "1"  ng-click="CopyToClipboard(this)" readonly>08939317150</textarea>
          <a target="_blank" href="mailto:bhavik@shaastra.org">bhavik@shaastra.org</a>
          </ons-list-item>
          </ons-list-item>

          <ons-list-item modifier="tappable">
          <ons-icon icon="fa-phone fa-2x" style="color:#37C837;font-size: 17px">Shashanka Rao</ons-icon>

          <ons-list-item>
          <textarea class="textarea" rows = "1"  ng-click="CopyToClipboard(this)" readonly>09498098063</textarea>
          <a target="_blank" href="mailto:bhavik@shaastra.org">shashanka@shaastra.org</a>
          </ons-list-item>
          </ons-list-item>

          <ons-list-item modifier="tappable">
          <ons-icon icon="fa-phone fa-2x" style="color:#37C837;font-size: 17px">Mahesh Kurup</ons-icon>
          <ons-list-item>
          <textarea class="textarea" rows = "1"  ng-click="CopyToClipboard(this)" readonly>09444443592</textarea>
          <a target="_blank" href="mailto:bhavik@shaastra.org">kurup@shaastra.org</a>
          </ons-list-item>
          </ons-list-item>
   </div>

</ons-list>
     </ons-dialog>
    </ons-template>

<div align="center">
  <h3>Title sponsor</h3>
  
  <a href="http://www.caterpillar.com"><img src="images/Caterpillar.png" width = "100"></a>
    <h3>Platinum sponsor</h3>
      <a href="http://www.visa.co.in/index.shtml"><img src="images/visas.jpeg" width = "100"></a>
          <h3>Print Partner</h3>
      <a  href="http://www.newindianexpress.com/"><img src="images/newindianexpress.png" width = "100"></a>
       <h3>Stay Partner</h3>
      <a  href="http://stayzilla.com/"><img src="images/stayzilla.jpg" width = "100"></a>
         <h3>Co Sponsor</h3>
      <a  href="http://www.eaton.in/"><img src="images/eaton.jpg" width = "100"></a>
      <a  href="http://www.samsung.com/in/home/"><img src="images/samsung.png" width = "100"></a>
       <a  href="http://www.vmware.com/in"><img src="images/vm-ware.png.jpeg" width = "100"></a>
      
      <h3>Appathon Partner</h3>
      <a  href="http://rapidbizapps.com/"><img src="images/rapidbizzapps.png.jpeg" width = "100"></a>
      <h3>Hospitality Partner</h3>
      <a  href="http://www.sbi.co.in/"><img src="images/sbi.jpg" width = "100">
      <h3>Event Sponsor</h3>
      <a  href="http://www.boeing.com/"><img src="images/boeing.png.jpeg" width = "100"></a></br>
      <a  href="http://www.philips.co.in/"><img src="images/philips.png" width = "100"></a></br>
      <a  href="http://www.mahindra.com/"><img src="images/mahindra.jpg" width = "100"></a></br>
      <a  href="http://www.microsoft.com/en-in/"><img src="images/microsoft.png.jpeg" width = "100"></a></br>
        <a  href="http://www.entranceindia.com/">    <img src="images/entranceindia.png" width = "100"></a></br>

      <a  href="http://www.salesforce.com/in/"><img src="images/salesforce.png" width = "100"></a></br>
           <a  href="http://go.sap.com/index.html"><img src="images/sap.png" width = "100"></a></br>
      <a  href="http://www.smartedu.co.in/"><img src="images/smartedu.jpg" width = "100"></a></br>
      <a  href="http://www.cognizant.com/"><img src="images/cognizant.jpg" width = "100"></a></br>
      <a  href="http://nptel.ac.in/"><img src="images/nptel.jpg" width = "100"></a></br>
      <a  href="http://www.praxair.com/"><img src="images/praxair.jpg" width = "100"></a></br>
    <a  href="http://www.rohm.com/web/in/"><img src="images/rohm-semiconductor.png.jpeg" width = "100"></a></br>
             <a  href="http://www.cypress.com/"><img src="images/cypress.jpg" width = "100"></a></br>





      <h3>Cloud Computing and Co-Sponsor</h3>
      <a  href="http://www.salesforce.com/in/"><img src="images/salesforce.png" width = "100"></a>

    <h3>Workshop Sponsor</h3>
      <a  href="http://www.innovianstechnologies.com/"><img src="images/innovians-technologies.png.jpeg" width = "100"></a>
      <a  href="http://codexdesign.in/"><img src="images/codex-design.png.jpeg" width = "100"></a>
      <a  href="http://www.stepsmail.com/"><img src="images/stepsmail.png.jpeg" width = "100"></a>

     <h3>Amusement Sponsor</h3>
      <a  href="https://www.playerzgaming.com/"><img src="images/playerz.png.jpeg" width = "100"></a>
     
          <h3>Digital Storage Partner</h3>
      <a  href="http://support.wdc.com/index.aspx"><img src="images/wd.png" width = "100"></a>

           <h3>Education Sponsor</h3>
      <a  href="http://www.educationau-incanada.ca/"><img src="images/educationau-incanada.png.jpeg" width = "100"></a>
            <a  href="http://www.campusfrance.org/en"><img src="images/campusfrance.jpg" width = "100"></a>

         <h3>Financial Awareness Partner</h3>
      <a  href="http://content.icicidirect.com/idirectcontent/Home/Home.aspx"><img src="images/icici-cfl.png" width = "100"></a>
       <h3>Web Hosting Partner</h3>
      <a  href="http://in.bluehost.com/"><img src="images/bluehost.png" width = "100"></a>
       <h3>Pledge-A-Book Website Design Partner</h3>
      <a  href="http://www.niyati.com/"><img src="images/M30511412_g.jpg" width = "100"></a>
       <h3>Cloud Sponsor</h3>
      <a  href="http://www.ibm.com/in-en/"><img src="images/ibm.jpg" width = "100"></a>
       <h3>Pledge-A-Book Logistics Partner</h3>
      <a  href="https://www.cargoji.com/"><img src="images/cargoji.png" width = "100"></a>
       <h3>Digital App Sponsor</h3>
      <a  href="http://www.news-republic.com/"><img src="images/news-republic.png.jpeg" width = "100"></a>
       <h3>Radio Partner</h3>
      <a  href="http://www.chennailive.fm/"><img src="images/chennailive.jpg" width = "100"></a>
       <h3>Internship Partner</h3>
      <a  href="http://internshala.com/"><img src="images/internshala.png" width = "100"></a>
       <h3>Student Opportunity Partner</h3>
      <a  href="http://www.twenty19.com/"><img src="images/twenty19.png.jpeg" width = "100"></a>
       <h3>Online Media Partner</h3>
      <a  href="https://www.collegesearch.in/colleges/Indian_Institute_of_Technology_%28IIT%29_Madras"><img src="images/collegesearch.png" width = "100"></a></br>
        <a  href="https://www.playerzgaming.com/"><img src="images/playerz.png.jpeg" width = "100"></a></br>

      <a  href="http://fests.info/"><img src="images/http___fests.info.png" width = "100"></a></br>

      <a  href="http://www.pagalguy.com/"><img src="images/http___www.pagalguy.com.png" width = "100"></a></br>

      <!--<img src="images/electronicsforu.com.jpg" width = "80"></br>-->
      <a  href="http://dare2compete.com/"><img src="images/dare2compete.png" width = "100"></a></br>

      <a  href="http://www.fuccha.in/"><img src="images/fuccha.png" width = "100"></a></br>

      <a  href="http://www.knowafest.com/"><img src="images/knowafest.png.jpeg" width = "100"></a></br>

      <a  href="http://thecollegefever.com/"><img src="images/thecollegefever.png" width = "100"></a></br>

      <a  href="http://www.hook2events.com/"><img src="images/https___www.hook2events.com.jpg" width = "100"></a></br>

         <h3>Electronic Merchandise Partner</h3>
      <a  href="http://www.skullcandy.com/"><img src="images/skullcandy.jpg" width = "100"></a>

           <h3>Online Photography Sponsor</h3>
      <a  href="http://www.pixelscapes.co/"><img src="images/pixelscapes.png" width = "100"></a>
            <a  href="https://www.indianinstituteofphotography.com/"><img src="images/indianinstituteofphotography.jpg" width = "100"></a>

         <h3>Anti Virus Sponsor</h3>
      <a  href="http://www.indiaantivirus.com/"><img src="images/http___www.indiaantivirus.com.jpg" width = "100"></a>
      <!--
      <h3>Startup Ecosystem Partner</h3>
      <img src="www.businessworld.in.png.jpg" width = "80"> -->
      <h3>Event App Sponsor</h3>
      <a  href="http://www.nearify.com/"><img src="images/www.nearify.com.png.png.jpeg" width = "100"></a>
      <!--
      <h3>Beverage Partner</h3>
      <img src="www.bisleri.com_.jpg" width = "80">
      <h3>Stationery Sponsor</h3>
      <img src="https___mycopie.com_.png" width = "80">
    -->
      <h3>Prize Sponsor</h3>
      <a  href="http://www.pikeducation.com/"><img src="images/http___www.pikeducation.com_.jpg" width = "100"></a>
      <h3>Immerse Magazine Partner</h3>
      <a  href="http://www.ge.com/"><img src="images/www.ge.com.jpg" width = "100"></a>
      <h3>Ride Sharing Sponsor</h3>
      <a  href="http://www.merrytrips.in/"><img src="images/http___www.merrytrips.in_.png" width = "100"></a>
      <h3>Offline Media Sponsor</h3>
      <a  href="http://www.merrytrips.in/"><img src="images/http___ns7.tv_ta.png" width = "100"></a>



      
   
  <div>

    




    </ons-page>

  </body>
</html>
