<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="controller.js"></script>
    <link rel="stylesheet" href="lib/onsen/css/onsenui.css">
    <link rel="stylesheet" href="../onsen-css-components-blue-basic-theme.css">
    <link rel="stylesheet" href="profile.css">

    <script src="lib/onsen/js/angular/angular.js"></script>
    <script src="lib/onsen/js/onsenui.js"></script>
    <script>
      ons.bootstrap();
      //modal.open();
                  // Wait for device API libraries to load
    //
    function onLoad() {
        document.addEventListener("deviceready", onDeviceReady, false);
    }

    // device APIs are available
    //
    function onDeviceReady() {
        // Register the event listener
        document.addEventListener("backbutton", onBackKeyDown, false);
    }

    // Handle the back button
    //
    function onBackKeyDown() {
        document.addEventListener("backbutton",$scope.menu.setMainPage($rootScope.lastpage, {closeMenu: true}), false);
    }
    </script>

  </head>
  <body  ng-app="app">

    <ons-page ng-controller="lecture" on-device-backbutton="menu.setMainPage('home.html', {closeMenu: true})">
      <ons-toolbar>        
      <div class="left">
          <ons-toolbar-button ng-click="menu.toggle()">
            <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
          </ons-toolbar-button>
        </div>
     <div class="center" > 
      SPONSORS 
      <div ng-hide="online"><h3 style="color:red"></h3></div>
      <!-- <center>{{currname}}</center> -->
    </div>   
    <div class="right">
          <!-- <ons-toolbar-button><ons-icon icon="ion-gear-a" style="vertical-align: -4px; font-size: 28px;"></ons-icon></ons-toolbar-button> -->
          <a href="http://shaastra.org/"><ons-button modifier="small--cta"><i class="fa fa-external-link"></i>  Web</a> </ons-button>
        </div>
  </ons-toolbar>


<ons-button modifier="small--cta" ng-click ="show('sponc.html')" modifier="tappable">
  Contact Us
   </ons-button>

   <ons-template id="sponc.html">
      <ons-dialog var="dialog" cancelable>
       
        <ons-list>
        <div style = "font-family: 'Helvetica';font-size: 14px;float:center; padding: 0px 0;"> 
    
          <ons-list-item modifier="tappable">
          <ons-icon icon="fa-phone fa-2x" style="color:#37C837;font-size: 17px">Bhavik Rasyara</ons-icon>
          <ons-list-item>
          <textarea class="textarea" rows = "1"  ng-click="CopyToClipboard(this)" readonly>08939317150</textarea>
          <a target="_blank" href="mailto:bhavik@shaastra.org">bhavik@shaastra.org</a>
          </ons-list-item>
          </ons-list-item>

          <ons-list-item modifier="tappable">
          <ons-icon icon="fa-phone fa-2x" style="color:#37C837;font-size: 17px">Shashanka Rao</ons-icon>

          <ons-list-item>
          <textarea class="textarea" rows = "1"  ng-click="CopyToClipboard(this)" readonly>09498098063</textarea>
          <a target="_blank" href="mailto:bhavik@shaastra.org">shashanka@shaastra.org</a>
          </ons-list-item>
          </ons-list-item>

          <ons-list-item modifier="tappable">
          <ons-icon icon="fa-phone fa-2x" style="color:#37C837;font-size: 17px">Mahesh Kurup</ons-icon>
          <ons-list-item>
          <textarea class="textarea" rows = "1"  ng-click="CopyToClipboard(this)" readonly>09444443592</textarea>
          <a target="_blank" href="mailto:bhavik@shaastra.org">kurup@shaastra.org</a>
          </ons-list-item>
          </ons-list-item>
   </div>

</ons-list>
     </ons-dialog>
    </ons-template>



    




    </ons-page>

  </body>
</html>
