/* This is a CSS file */

#title
{
    color:#000000;
    text-align:center;
    font-weight: 400;
    font-size: 21px;
    font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    display: block;
}

.navigation-bar
{
    border-color: #f9f9f9;
    background-color: #f9f9f9;
}

#bars,#back
{
    color: #000;
}

ons-tabbar-item
{
    background-color: #00465F;
    color: #fff;
}

.button--large--cta {
position: relative;
display: inline-block;
vertical-align: top;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-background-clip: padding-box;
background-clip: padding-box;
padding: 0;
margin: 5%;
font: inherit;
color: inherit;
background: transparent;
border: none;
line-height: normal;
font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
font-weight: 400;
font-size: 17px;
cursor: default;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
height: auto;
text-decoration: none;
padding: 4px 10px;
font-size: 17px;
line-height: 32px;
letter-spacing: 0;
vertical-align: middle;
background-color: #00465F;
border: 0px solid currentColor;
-webkit-border-radius: 3px;
border-radius: 3px;
-webkit-transition: none;
-moz-transition: none;
-o-transition: none;
transition: none;
border: none;
color: #fff;
font-size: 17px;
font-weight: 500;
line-height: 36px;
padding: 4px 12px;
width: 90%;
text-align: center;
display: block;
}

.button--large--cta:hover {
-webkit-transition: none;
-moz-transition: none;
-o-transition: none;
transition: none;
}

.button--large--cta:focus {
outline: 0;
}

.button--large--cta:active {
color: #fff;
background-color: #010b0f;
-webkit-transition: none;
-moz-transition: none;
-o-transition: none;
transition: none;
opacity: 0.2;
}

.button--large--cta:disabled,
.button--large--cta[disabled] {
opacity: 0.3;
cursor: default;
pointer-events: none;
}
.icon{
    height:30px;
    padding: 10px;
}
.dices{
    height:87px;
    margin-top: 0px
}
.trophy{
    height: 100px;
    padding:10px;
}
.spanner{
    height:85px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.flight{
    height: 85px;
    padding:10px;
}
.mic{
    height:85px;
    padding: 10px;
}
.calendar{
    height: 100px;
    padding:20px;
}
.phone{
    height:75px;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.divi{
       margin-left: auto;
    margin-right: auto; 
}
.plan-info {
  opacity: 0.4;
  font-size: 12px;
  line-height: 1.4;
}
.desc {
  line-height: 1.2;
  font-size: 13px;
}
.event-image{
   width:100%;
   z-index: 0;
   height:auto;
}
.center_bar{
    background-color: #fff;
    color: #000;
    text-align: center;
    margin-top: -6px;
    z-index: 3;
}
.center_text{
    color: #000;
   position:absolute;
    left: 27.5%;
    font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
}
/*event page*/
.list-item-container {
  line-height: 1;
  font-size: 14px;
  padding: 10px 10px 10px 10px;
  color: white;
  background-color: #173e43;
  margin: 10px;
}

.list-item-left {
  width: 60px;
  margin-right: -60px;
  float: left;
}

.list-item-right {
  width: 100%;
  float: right;
}

.list-item-content {
  /*margin-left: 50px;
  margin-right: 30px;*/
}

.avator {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
}

.name {
  font-weight: 500;
  line-height: 20px;
  font-size: 20px;
  margin-bottom: 10px;
}

.desc {
  line-height: 16px;
}

.lucent {
  opacity: 0.4;
}